.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.container {
    width: 350px;
    margin-bottom: 100px;
    border: solid 3px purple;
    border-radius: 15px;
    padding: 1vh 1vw 1vh 1vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

@media screen and (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 70vw;
        margin-bottom: 50px;
    }
}