.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entry {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.entry:hover {
    background-color: #99999940;
}

.entry .channel {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
}